<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Compression.Base" version="20.3.0.61" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="20.3.0.61" targetFramework="net472" />
  <package id="Syncfusion.Pdf.OCR.Wpf" version="20.3.0.61" targetFramework="net472" />
  <package id="Syncfusion.Pdf.Wpf" version="20.3.0.61" targetFramework="net472" />
</packages>